* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin: 10px 15px;
}

.row-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

#user-box-default {
    /* display: none; */
    position: absolute;
    top: 15px;
    right: 15px;
    /* width: 400px; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 500;
    padding: 10px;
}

#user-box-login {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);;
    z-index: 500;
    padding: 10px;
}

#home-image {
    height: 40px;
    /* width; 40px*/
}

#home-txt, #login-txt {
    color: #65000B;
    font-size: 20px;
    white-space: nowrap;  /* 不自動換行 */
}

button {
    padding: 10px;
    color: #ffffff;
    background-color: #db2222;
    border-radius: 10px;
    cursor: pointer;
}

#login-btn  {
    width: 70px;
}

#google-login-btn {
    font-size: 14px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

#deep-login-btn, #signup-btn{
    font-size: 14px;
    width: 100%;
}

#user-btn{
    padding: 10px 10px;
    font-size: 14px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;;
}

#login-btn:hover {
    background: #65000B;            /* 滑鼠移上去時改變顏色 */
    /* text-decoration: underline;       加上底線 */
}

.user-menu {
    margin-top: 10px;
    display: none; /* 預設隱藏 */
    flex-direction: column;
    /* gap: 8px; */
}

.menu-item {
    background-color: #ffffff;
    padding: 10px 0px;
    border-radius: 0px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    /* border: 1px solid #ddd; */
}

.menu-item:hover {
    background-color: #e5e5e5;
}

.menu-item a {
    text-decoration: none;
}

.menu-item a:visited {
    color: #000000;
}


/* 遮罩（預設隱藏） */
.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;  /* 水平置中 */
    align-items: center;      /* 垂直置中 */
    z-index: 1000;
}
  
 /* 顯示遮罩 */
.overlay.show {
    display: flex;
}
  
/* 登入盒 */
.login-box {
    display: none;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

.login-box.show {
    display: block;
}

.login-box input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.divider {
    display: flex;
    align-items: center;   /* Flex 垂直對齊 */
    text-align: center;    /* 文字水平對齊 */
    gap: 10px;
    color: #666;
}
  
.divider hr {
    flex: 1;
    border: none;
    border-top: 1px solid #a0a0a0;
}

.left-txt {
    text-align: left;
}

#signUp-p{
    padding: 10px;
    display: inline-block; /* 讓 padding 生效 */
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}
#signUp-p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.return {
    font-size: 15px;
    text-align: right;
    margin: 0px;
    padding: 0px;
    border: 0px;
    cursor: pointer;
}


/* 註冊盒 */
.signup-box {
    display: none;
    background: #ffffff;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
    border: 0px solid #ffffff;
    height: 570px;
    width: 50%;
    text-align: center;
    overflow: hidden;    /* 若內有圖片等內容，避免超出邊界 */
}

.signup-box.show {
    display: flex;
}

#signup-fig {
    width: 60%;
    height: 100%;
    overflow: hidden;    /* 多餘部分裁切 */
}

#signup-fig img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#signup-input {
    display: block;
    width: 40%;
    margin: 10px 0;
    padding: 8px;
}

#signup-input > * {
  margin-top: 8px;
  margin-bottom: 8px;
}

.error-text {
    color: #db2222;
    font-size: 12px;
}