#map {
    width: 100%;
    height: 100vh;
}

#search-box {
    position: absolute;
    top: 15px;
    left: 50px;
    width: 50%;
    min-width: 225px;
    max-width: 500px;
    /* height: 200px; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 500;
}

#custom-select {
    background-color: #ffffff;
    width: 40%;
    display: flex;
    align-items: center;
    border: 2px solid #2E2E2E;
    border-radius: 10px;
    /* overflow: hidden */
}
  
#custom-select .icon {
    width: 40px;
    height: 40px;
    /* 使用 object-fit: cover; 自動裁切，即可不用處理radius*/
    object-fit: cover;
    background: #2E2E2E;
    padding: 5px;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
}

.nearby-label {
    white-space: nowrap;
    font-size: 24px;
    color: #2E2E2E;
  }

#custom-select select {
    width: 100%;
    border: none;
    object-fit: cover;
    background: transparent;
    font-size: 20px;
    padding: 8px 0px;
    /* appearance: none; */
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    cursor: pointer;
    
    /* width: 100%; */
    /* padding: 6px; */
    /* font-size: 16px;
    padding: 8px 12px; */
    /* font-size: 24px; */
    /* border: 1px solid #2E2E2E; */

    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer; */
}

input[type="text"], input[type="password"] {
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    height: 40px;
    font-size: 14px;
    padding: 0px 5px;
}

/* 主要搜尋欄：有輸入時要加入的 class */
.input-filled {
    border-color: green;
    background-color: #eaffea;
}

.search-result {
    background-color: #ffffff;
    display: none;
    width: 100%;
    margin: 10px 0;
    padding: 0px 5px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    /* height: 60px; */
}

.search-result.show {
    display: block;
}

.search-result-item {
    background-color: #ffffff;
    width: 100%;
    margin: 5px 0;
    padding: 0px 5px;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 14px;
}

.search-result-item:hover {
    background-color: #fae8e7;
}

.search-result-item img {
    height: 40%;
    padding: 0px 2px;
    width: auto;
    object-fit: cover;
}

/* 搜尋顯示店家詳細資訊 */
#store-info {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0px;
    left: 50px;
    width: 300px;
    /* height: 500px; */
    border-radius: 10px;
    z-index: 500;
    font-size: 14px;
    overflow: hidden;  /* 加這行才能裁掉超出部分 */
}

.store-info {
    display: none;
}

.store-info.show {
    display: block;
}

#store-info h1 {
    font-size: 25px;
}

#store-info>img {
    width: 100%;
    max-height: 20vh;
}

#store-info .info {
    height: 20px;
    margin: 5px;
}

#store-info img {
    height: 100%;
}

#storeCard-name{
    justify-content: space-between
}

#add-icon{
    height: 10px;
    display: none;
}

.tag {
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    /* white-space: nowrap; */
    transition: all 0.2s;
}

.tag.selected {
    background-color: #333;
    color: white;
    border-color: #333;
}


/* 篩選box */
#select-price {
    display: none;
}
#select-price.show {
    display: block;
}
#select-time {
    display: none;
}
#select-time.show {
    display: block;
}
#select-distance {
    display: none;
}
#select-distance.show {
    display: block;
}
#select-type {
    display: none;
}
#select-type.show {
    display: block;
}